@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html,
body {
  width: 100%;  /* Adjust as needed */
  height: 100%; /* Adjust as needed */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.light {
  --text: 17, 16, 14;
  --background: 220, 222, 224;
  --primary: 204, 56, 15;
  --secondary: 193, 174, 138;
  --accent: 160, 130, 70;
  --border: 17, 16, 14;
  background: rgba(var(--background));
}
.dark {
  --text: 241, 240, 238;
  --background: 31, 33, 35;
  --primary: 240, 92, 51;
  --secondary: 117, 98, 62;
  --accent: 185, 155, 95;
  --border: 241, 240, 238;
  background: rgba(var(--background));
}

p,
button,
input,
label {
  color: rgba(var(--text));
}

h1,
h2,
h3,
h4,
h5 {
  color: rgba(var(--primary));
}

.reactEasyCrop_Container {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #333;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.cropper {
  width: 200px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
